{% extends 'EnsTotoBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/enstoto/css/jobs.css') }}" type="text/css" media="all" />
{% endblock %}

{% block content %}
    <div id="jobs">
        {% for category in categories %}
            <div>
                <div class="category_{{ category.slug }}">
                    <h1>
                        <a href="{{ path(
                            'EnsTotoBundle_category',
                            { 'slug': category.slug })
                        }}">
                            {{ category.name }}
                        </a>
                    </h1>
                   {% include 'EnsTotoBundle:Job:list.html.twig' with {'jobs': category.activejobs} %}


                    {% if category.morejobs %}
                        <div class="more_jobs">
                            and
                            <a href="{{ path(
                                'EnsTotoBundle_category',
                                { 'slug': category.slug })
                            }}">
                                {{ category.morejobs }}
                            </a>
                            more...
                        </div>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}